.DS_Store

website/
HORAS.txt
node_modules
src/client/public/*.*
!src/client/public/index.html
!src/client/public/favicons
.sass-cache/

src/client/app/styles/index.css
src/client/app/styles/index.css.map

src/server/vendor
src/server/credentials.json
src/server/token.json
