
// ==========================================================================
// Contacto
// ==========================================================================

#contacto {
	margin-bottom: 40px;

	.contact-details-container { margin-top: 0; }

	@media #{$medium-and-down} {
		.contact-details-container {
			margin: 0;
			margin-bottom: 40px;
			text-align: center;
			a { float: none; }
		}
	}
}

.form-response {
	.icon-sent {
		width: 200px;
		height: 100px;
	}
}

footer .form-response {
	@extend %flexbox;
	@include flex-direction(column);
    margin-top: 55px;

    img { align-self: center; }
}

#contact-form {
	margin-bottom: 50px;

	form p {
		position: relative;
		top: 25px;
	}

	.caret {
		position: relative;
		left: -45px;
		top: 20px;

		@media #{$medium-and-down} { top: 140px; }
	}
}

