
// ==========================================================================
// Contacto
// ==========================================================================

#contact-form {
	margin-bottom: 50px;
	
	input, textarea {
		// margin-right: 60px;
	}
	p {
		position: relative;
		top: 25px;
	}
}