
// ==========================================================================
// Contacto
// ==========================================================================
.form-response {
	.icon-sent {
		width: 200px;
		height: 100px;
	}
}

#contact-form {
	margin-bottom: 50px;

	form p {
		position: relative;
		top: 25px;
	}
}