
// ==========================================================================
// Faq
// ==========================================================================

#faq {
	margin-bottom: 80px;

	// img {
	// 	width: 100px;
	// 	height: 100px;
	// }
	.hide-answer {
		display: none;
	}
	.show-answer {
		display: block;
	}

	.faq-question {
		a {
			span { margin-left: 10px; }
			h3 {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}

	.faq-answer {
		padding-left: 45px;
	}

}