
// ==========================================================================
// Resoluciones
// ==========================================================================

#resoluciones,
#marcoLegal {

	margin-bottom: 50px;

	.row.link-row {
		@extend %flexbox;
	    @include flex-direction();
	}
	.pdf-icon {
		background-image: url("../images/icon_pdf.svg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 50px;
	    height: 50px;
	}
	a.pdf-link:hover {
		color: $sec-color;
	}
}